@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
    }

    body{
        font-size: 100%;
        background: linear-gradient(68.15deg, #0b1d43 16.62%, #3875c5 85.61%);
    }

    .cabecalho{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 24px;
    }

    .logo-cabecalho{
        height: 60px;
    }

    .cabecalho-menu{
        display: flex;
        gap: 32px;
    }

    .Item-nave{
        font-family: 'Sarala',sans-serif;
        color: #fff2e7;
        font-weight: 400;
        font-size: 18px;
    }

    .conteudo{
        margin-bottom: 48px;
        border-top: 0.4px solid #fff2e7;
    }

    .conteudo-principal{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .conteudo-principal-escrito{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 32px
    }

    .conteudo-principal-escrito-titulo{
        font-family: 'Righteous', cursive;
        font-weight: 400;
        font-size: 64px;
        color: #fff2e7;
    }


    .conteudo-principal-escrito-subtitulo{
        font-family: 'Sarala', sans-serif;
        font-weight: 400;
        font-size: 24px;
        color: #ecd6c4;
    }

    .conteudo-principal-escrito-botao{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: #ECD6C4;
        width: 200px;
        height: 60px;
        border: none;
        border-radius: 20px;
        box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
        font-family: 'Sarala', sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #2F2325;
        padding: 15px;
        cursor: pointer;
    }

    .conteudo-principal-escrito-botao:hover {
        background-color: rgba(237, 230, 224, 0.53);
    }

    .botao-youtube{
        width: 38px;
        height: 38px;
    }

    .conteudo-principal-imagem {
        height: 370px;
        margin-top: 20px;
        border-radius: 50px;
    }

    @media(max-width: 1061px){
        .conteudo-principal-escrito-titulo{
            transition: .20s ease-in-out;
            font-size: 40px;
        }

        .conteudo-principal-escrito-subtitulo{
            transition: .20s ease-in-out;
            font-size: 18px;
        }

        .botao-youtube{
            transition: .20s ease-in-out;
            font-size: 12px;
            width: 20px;
            height: 20px;
        }

        .conteudo-principal-imagem{
            transition: .20s ease-in-out;
            height: 280px;
        }

        .conteudo-principal-escrito-botao{
            transition: .20s ease-in-out;
            font-size: 12px;
            width: 140px;
            height: 40px;
        }
    }

    @media(max-width: 800px){
        .conteudo-principal{
            transition: .45s ease-in-out;
            flex-direction: column;
        }

        .conteudo-principal-escrito{
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 20px;
        }
    }

    .conteudo-secundario{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        margin-top: 48px;
    }
    

    .conteudo-secundario-titulo{
        border-top: 0.4px solid #fff2e7;
        padding-top: 48px;
        font-family: 'Righteos', cursive;
        font-weight: 400;
        font-size: 24px;
        color: #fff2ef;
        margin-bottom: 16px;
    }

    .conteudo-secundario-paragrafo{
        font-family: 'Sarala', sans-serif;
        font-weight: 300;
        font-size: 18px;
        color: #ECD6C4;
    }

    @media(max-width: 1061px){
        .conteudo-secundario-titulo{
            transition: .20s ease-in-out;
            font-size: 20px;
        }

        .conteudo-secundario-paragrafo{
            transition: .20s ease-in-out;
            font-size: 15px;
        }
    }

    .rodape{
        padding: 20px;
        border-top: 0.4px solid #FFF2E7;
    }

    .rodape-imagem{
        height: 100px;
        display: block;
        margin: 0 auto;
    }